# Application Information
APP_VERSION="1"
APP_NAME="APP Name"
APP_DESCRIPTION="APP DESCRIPTION"

# Database Connection
DB_HOST="localhost"
DB_PORT="5433"
DB_NAME="postgres"
DB_USER="postgres"
DB_PASS="123"